<h1>Houses</h1>

<%= form_for(@house, :remote => true) do |f| %>
<table id="item_list">
  <tr>
    <th>Name</th>
    <th>Semester start date</th>
    <th>Semester end date</th>
    <th>Permanent chores start week</th>
    <th>Required hours per week</th>
    <th>Sign off by hours after</th>
    <th>Using online sign off</th>
    <th>Sign off verification mode</th>
    <th>Blow off penalty factor</th>
    <th>Wsm email</th>
    <th></th>
  </tr>

	<%= render @houses %>

	<%= render :partial => 'new_house', :locals => {:f => f} %>

</table>
<% end %>