* {
	font-family: Arial;
	height: auto;
	width: auto;
	clear: none;
	float: none;
}


.Roster {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
.title_roster {
	font-size: 36px;
	background-color: #99CC00;
}
.work_shift {
	word-spacing: normal;
}
.stebbins {
	width: 260px;
}
.grey_area {
	background-color: #999999;
	padding-top: 300px;
	padding-right: 750px;
	padding-bottom: 250px;
	padding-left: 250px;
}
