<!DOCTYPE html>
<html>
  <head>
    <title>WSMA development</title>
    <h3> Demo Page </h3>
	<ul>
        <li><%= link_to "Login", "/login" %></li>
		<!--<li><a href="demo/login">login</a></li>-->
		<li><a href="demo/managefines">Manage Fines</a></li>
        <li><%= link_to "Chores", chores_path %></li>

		<!--<li><a href="demo/chores">Chores</a></li>-->
		<li><a href="demo/myshift">My Shift</a></li>	
		<li><p><a href="demo/login">Profile</a> -Please login to access</p></li>	
		<li><a href="demo/register">Register</a></li>
		<li><p><a href="demo/shiftallocation">Shift Allocation</a> - The jQuery effects in this link are currently inactive. To see the page with jQuery effects, please open WSMA/html/shiftallocation.html.</p></li>
	</ul>
  </body>
</html>
