		<div id="Layer1"><strong>My Shift  </strong></div>
        <div>
          <p><strong>Currently Assigned Shifts: </strong></p>
          <table width="784" height="177" border="1">
            <tr>
              <td width="105" class="STYLE3"><div align="center">Monday</div></td>
              <td width="105" class="STYLE4"><div align="center">Tuesday</div></td>
              <td width="105" class="STYLE5"><div align="center">Wednesday</div></td>
              <td width="105" class="STYLE6"><div align="center">Thursday</div></td>
              <td width="105" class="STYLE7"><div align="center">Friday</div></td>
              <td width="105" class="STYLE8"><div align="center">Satursday</div></td>
              <td width="105" class="STYLE9"><div align="center">Sunday</div></td>
            </tr>
            <tr>
              <td height="110" class="STYLE11"><form id="form1" name="form1" method="post" action="">
                <label></label>
                <p>
                  <input type="submit" name="Submit" value="Sign off" />
                </p>
                <p>
                  <label>
                  <input type="submit" name="Submit2" value="Sign out" />
                  </label>
</p>
              </form>              </td>
              <td class="STYLE12"><form id="form1" name="form1" method="post" action="">
                <label></label>
                <p>
                  <input type="submit" name="Submit3" value="Sign off" />
                </p>
                <p>
                  <label>
                  <input type="submit" name="Submit22" value="Sign out" />
                  </label>
                </p>
              </form></td>
              <td class="STYLE13"><form id="form1" name="form1" method="post" action="">
                <label></label>
                <p>
                  <input type="submit" name="Submit4" value="Sign off" />
                </p>
                <p>
                  <label>
                  <input type="submit" name="Submit23" value="Sign out" />
                  </label>
                </p>
              </form></td>
              <td class="STYLE14"><form id="form1" name="form1" method="post" action="">
                <label></label>
                <p>
                  <input type="submit" name="Submit5" value="Sign off" />
                </p>
                <p>
                  <label>
                  <input type="submit" name="Submit24" value="Sign out" />
                  </label>
                </p>
              </form></td>
              <td class="STYLE15"><form id="form1" name="form1" method="post" action="">
                <label></label>
                <p>
                  <input type="submit" name="Submit6" value="Sign off" />
                </p>
                <p>
                  <label>
                  <input type="submit" name="Submit25" value="Sign out" />
                  </label>
                </p>
              </form></td>
              <td class="STYLE16"><form id="form1" name="form1" method="post" action="">
                <label></label>
                <p>
                  <input type="submit" name="Submit7" value="Sign off" />
                </p>
                <p>
                  <label>
                  <input type="submit" name="Submit26" value="Sign out" />
                  </label>
                </p>
              </form></td>
              <td class="STYLE17"><form id="form1" name="form1" method="post" action="">
                <label></label>
                <p>
                  <input type="submit" name="Submit8" value="Sign off" />
                </p>
                <p>
                  <label>
                  <input type="submit" name="Submit27" value="Sign out" />
                  </label>
                </p>
              </form></td>
            </tr>
          </table>
          <p>&nbsp;</p>
          <form id="form3" name="form3" method="post" action="">
            <label>
              <input type="submit" name="Submit10" value="Show Available Shifts" />
            </label>
            <p><strong>Available Shifts:</strong></p>
            <table width="350" border="1">
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
            <div id="Layer4">
              <label>
              <input type="submit" name="Submit9" value="Sign in" />
              </label>
            </div>
            <p>&nbsp;</p>
          </form>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp; </p>
        </div>