<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BSC Workshift Manager</title>
<%= stylesheet_link_tag "constant" %>
<style type="text/css">

#Layer1 {
	position:absolute;
	width:788px;
	height:53px;
	z-index:1;
	left: -1px;
	top: -66px;
	background-color: #D8EFAD;
}
#Layer2 {
	position:absolute;
	width:190px;
	height:74px;
	z-index:1;
	left: 18px;
	top: 319px;
	background-color: #7F7F7F;
}
#Layer3 {
	position:absolute;
	width:200px;
	height:91px;
	z-index:2;
}
#Layer4 {
	position:absolute;
	width:200px;
	height:58px;
	z-index:2;
}
#Layer5 {
	position:absolute;
	width:362px;
	height:24px;
	z-index:2;
}
#Layer6 {
	position:absolute;
	width:40px;
	height:24px;
	z-index:2;
	left: 371px;
	top: 15px;
}
#Layer7 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:2;
}
#Layer8 {
	position:absolute;
	width:171px;
	height:22px;
	z-index:2;
	left: 67px;
	top: 14px;
	visibility: visible;
}
#Layer9 {
	position:absolute;
	width:168px;
	height:22px;
	z-index:2;
	left: 135px;
	top: 49px;
}
#Layer10 {
	position:absolute;
	width:168px;
	height:23px;
	z-index:2;
	left: 69px;
	top: 84px;
}
#Layer11 {
	position:absolute;
	width:200px;
	height:26px;
	z-index:2;
	top: 117px;
	left: 140px;
}

</style>
</head>

<body>
<div id="wrap">
	<div id="main">
      <div id="header">
      	<span id="headertitle">
    		Berkeley Student Cooperative Workshift Manager
   		</span>
    	<span id="headerlist">
			<a class="headerlistitem" href="">Home</a>
        	<a class="headerlistitem" href="">Profile</a>
        	<a class="headerlistitem" href="">Logout</a>
   		</span>
      </div>
      <div id="logobar">
	  <%= image_tag "BSC-logo-small.jpg", :alt => "Go Home",:id => "logo" %>	  
	  <span id="logotext">Workshift Manager</span>      </div>
      <div id="navbar">
		<ul id="navlist">
			<li><a class="navlistitem" href="">My Shifts</a><li>
        	<li><a class="navlistitem" href="">My Fines</a></li>
        	<li><a class="navlistitem" href="">Shift Preferences</a></li>
   		</ul>
      </div>
      <div id="content">
	  
		<!-- 
		
			Put content for different pages in this div! 
			
		-->
		<div id="Layer1"><strong>My Profile </strong></div>
        <p>Name: </p>
        <div id="Layer8">
          <form id="form1" name="form1" method="post" action="">
            <label>
              <input type="text" name="textfield" />
            </label>
          </form>
        </div>
        <p>Room Number: </p>
        <div id="Layer9">
          <form id="form2" name="form2" method="post" action="">
            <label>
              <input type="text" name="textfield2" />
            </label>
          </form>
        </div>
        <p>Email: </p>
        <div id="Layer10">
          <form id="form3" name="form3" method="post" action="">
            <label>
              <input type="text" name="textfield3" />
            </label>
          </form>
        </div>
        <p>Phone Number:        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Modify Email</p>
        <p>Modify Phone Number</p>
        <p>Modify Password   </p>
        <div id="Layer11">
          <form id="form4" name="form4" method="post" action="">
            <label>
              <input type="text" name="textfield4" />
            </label>
          </form>
        </div>
      </div>
      <div id="footer">
		<span id="footertext">(c) 2011 Team WSMA!!</span>
      </div>
	  <div id="spacer">
      </div>
	</div>
</div>
<div id="Layer2">
  <div align="center">Stebbins</div>
</div>
</body>
</html>
