		<h2>Register</h2>
        <form id="form1" name="form1" method="post" action="">
          <label>
          <div align="left">User Name:
            <input type="text" name="namefield" />
            <!-- <select name="select" size="1"> -->
            </select>
            <br />
          </div>
          </label>
          <label>
          <div align="left"><br />
          Email:   
            <input type="text" name="textfield" />
          </div>
          </label>
          <label>
          <div align="left"><br />
            <br />
            <input type="submit" name="Submit" value="Confirm" />
          </div>
          </label>
        </form>