		<div id="Layer1"><strong>House Roster </strong>
		  <form id="form1" name="form1" method="post" action="">
		    <label></label>
	        <label>Upload a roster file: 
	        <input type="text" name="textfield" />
	        <input type="reset" name="Submit" value="Browse" />
	        </label>
		    <label>
		    <input type="submit" name="Submit2" value="Upload" />
		    </label>
		  </form>
	    </div>
      </div>
      <div id="footer">
		<span id="footertext">(c) 2011 Team WSMA!!</span>
      </div>
	  <div id="spacer">
      </div>
	</div>

