<h1>Users</h1>

<%= form_for(@user, :remote => true) do |f| %>
<table id="item_list">
  <tr>
		<th>Name</th>
    <th>Email</th>
		<th>House</th>
    <th>Access level</th>
    <th>Phone number</th>
    <th>Room number</th>
    <th>Hours per week</th>
    <th>Notes</th>
    <th></th>
  </tr>

	<%= render @users %>

	<%= render :partial => 'new_user', :locals => {:f => f} %>

</table>
<% end %>