<%= form_tag do%>       
 <form action = "/users/register" >
		<h2>Register</h2>
          <label>
          <div align="left">User Name:
            <br>
		<input type = "text" name="text1">
            </br>
          </div>
          </label>
          <label>
          <div align="left"><br />
          Email: 
		<br>  
            <input type="text" name="text2" /> </br>
          </div>
          </label>
          <label>
          <div align="left"><br />
            <br />
            <input type="submit"/>
          </div>
          </label>
        </form>
<% end %>