*
{
	font-family: Verdana, Geneva, sans-serif;
}
 a, a:visited
{
	color: #555555;
}
html, body
{
	background-color: #555555;
}
#wrap{
	margin: auto;
	width: 1100px;
	background-color: #555555;
}
#main
{
	position: absolute;
	background-color: #555555;
}
#header {
	font-size: 12px;
	font-style: normal;
	line-height: 35px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #555555;
	text-decoration: none;
	background-attachment: fixed;
	background-color: #E6D380;
	background-image: none;
	background-repeat: no-repeat;
	height: 35px;
	width: 1100px;
	vertical-align: middle;
	border: 4px solid #FFFFFF;
	position: absolute;
}
#headertitle {
	padding-left: 10px;
}
#headerlist {
	left: auto;
	height: 30px;
	width: 170px;
	right: 0px;
	position: absolute;
}
.headerlistitem 
{
	margin-right: 10px;
	color: #FFFFFF;
}
#logobar {
	background-color: #555555;
	height: 260px;
	width: 200px;
	position: absolute;
	top: 50px;
	left: 5px;
}
#logo
{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 15px;
	left: 0px;	
	border: 4px solid #E6D380;
}
#logotext
{
	color: #FFFFFF;
	font-family: Georgia;
	font-size: 18pt;
	font-weight: bold;
	position: absolute;
	width: 150px;
	top: 180px; 
	left: 0px;
	text-align: center;
	line-height: 25px;
}
#navbar {
	color: #000000;
	background-color: #E6D380;
	height: 400px;
	width: 160px;
	position: absolute;
	top: 300px;
	left: 0px;
	border: 4px solid #FFFFFF;
}
#navlist 
{
	color: #000000;
	list-style: none;
	position: absolute;
	top: 15px;
	left: -22px;
	height: 300px;
	width: 155px;
}
.navlistitem
{
	color: #000000;
	padding-bottom: 10px;
	text-decoration: none;
	position: relative;
	left: 20px;
	top: 20px;
}
.navlistlink
{
	color: #000000;
	text-decoration: none;
}
#content {
	width: 890px;
	position: absolute;
	top: 65px;
	left: 192px;
	background-color: #E6D380;
	border: 4px solid #FFFFFF;
	float: right;
}
#footer {
	font-size: 10px;
	font-style: normal;
	line-height: 30px;
	font-weight: normal;
	font-variant: normal;
	color: #000;
	background-color: #555555;
	height: 30px;
	width: 1100px;
	vertical-align: middle;
	border: thin solid #666;
	position: absolute;
	top: 855px;
	margin-bottom: 20px;
}
#footertext
{
	position: absolute;
	right: 10px;
}
#spacer {
	background-color: #555555;
	height: 15px;
	width: 1100px;
	position: relative;
}