@charset "utf-8";
/* CSS Document */
#content_header {
	padding-left: 20px;
}
#allocationcalendar {
	position: absolute;
	top: 60px;
	margin-left: 20px;
	margin-right: 0px;
	width: 715px;
	height: 700px;
}
#dailytab {

}
#weeklytab {

}
#daily
{
	width: 625px;
	height: 30px;
	color: #000000;
	background-color: #98A936;
	font-size: 10pt;
	padding-left: 89px;
}
#namelist
{
	width: 200px;
	position: absolute;
	top: 50px;
	left: 740px;
}
#namelisttitle
{
	width: 150px;
	height: 30px;
}
#shiftallocationspacer
{
	height: 80px;
}
.tab {
	width: 70px;
	height: 35px;
	color: #FFFFFF;
	background-color: #98A936;  
    border:1px solid; 
    border-color: #000 #000 #7092BE #000;
}
.dayname
{
	float: left;
	width: 84px;
	border: 1px solid #98A936;
	padding-left: 3px;
}
.chore
{
	width: 715px;
	height: 102px;
	background-color: #EFE4B0;
}
.chorename
{
	float: left;
	width: 87px;
	height: 100px;
	border: 1px solid black;
	background-color: #98A936;
}
.day
{
	float: left;
	width: 87px;
	height: 100px;
	font-size: 10pt;
	border: 1px solid black;
}
.resident
{
	width: 82px;
	height: 50px;
	margin: 2px;
	margin-right: 0px;
	color: #FFFFFF;
	background-color: #2F7097;
	font-size: 10pt;
	z-index: 1;
}
.resident.ui-draggable-dragging 
{ 
	border: 2px solid blue; 
}
.assignedResident
{
	border: 1px dashed brown;
	margin: 2px;
}
.closeButton
{
	height: 13px;
	width: 11px;
	float: right;
	background-color: #BBBBBB;
	padding-left: 3px;
	padding-bottom: 2px;
	font-size: 8pt;
}
