<!DOCTYPE html>
<html>
<head>
  <title>WSMA</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <table><tr>
    <td style="border-right: solid black 2px;">
      <h3>Scaffold</h3>
      <ul class="links">
        <li><a href="encrypted_connections">Encrypted Connections</a></li>
        <li><a href="houses">Houses</a></li>
        <li><a href="users">Users</a></li>
        <li><a href="preferences">Preferences</a></li>
        <li><a href="chores">Chores</a></li>
        <li><a href="shifts">Shifts</a></li>
        <li><a href="assignments">Assignments</a></li>
        <li><a href="house_hour_requirements">House Hour Requirements</a></li>
        <li><a href="user_hour_requirements">User Hour Requirements</a></li>
        <li><a href="fining_periods">Fining Periods</a></li>
        <li><a href="fines">Fines</a></li>
      </ul>
    </td>
    
    <td style="vertical-align: top;">
      <%= yield %>
    </td>
  </tr></table>
</body>
</html>
